$colors: (
  primary-color: #7c7978,
  banner-font-color: #fff,
  banner-text-color: #a9a9a9,
  button-border-color: #333,
  button-bg-color: #69ad31,
  borderBottom: 1px solid #eaeaea,
  font-color: #6b6967,
  font-icon-color: #4abd8b,
  list-text: #696969,
  list-text-color: #808080,
  light-gray: #d3d3d3,
  background-colors: #fafafa,
  footer-bg: #363636,
  icons-bg: #464646,
);
